{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "no-use-before-define": [2, {
      "functions": false
    }],
    "complexity": [1, 5],
    "comma-dangle": ["error", "never"],
    "global-require": 0,
    "max-len": [2, 100, 4],
    "import/prefer-default-export": 0,
    "prettier/prettier": "error"
  },
  "plugins": [
    "prettier"
  ]
}
